<!-- previous version
<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endunless %}
  </ul>
</div> 
-->

<!-- new version (but deactivated for now) -->
<footer>
  <!-- 
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div class="footer-gif">
                      <img src="/assets/images/chandler.gif">
                    </div>
                </div>
                
                
                <div class="col-lg-6 col-sm-12 newsletter">
                    <h4>Sign up for my Newsletter</h4>
                    <p>Get notified of my latest blog posts.</p>
                    <form method="post" action="https://blogtrottr.com" target="_blank"
onsubmit="return (/\S+@\S+\.\S+/).test(document.getElementById('blgsubeml').value);">
                      <input type="email" name="btr_email" id="blgsubeml" placeholder="Enter email address" />
                      <input type='hidden' name='btr_url' value='https://canaytore.github.io/feed.xml' />
                      <input type="hidden" name="schedule_type" value="6" />
                      <input type="submit" value="Subscribe" />
                    </form>
                    <p style="font-size:90%; text-align:center; font-style: italic">No 3rd party products, no spam. Emails handled by <a href="https://blogtrottr.com/" target="_blank">Blogtrottr</a>.</p>
                    
                    <div class="social-links mt-3" style="text-align:center">
                        <a href="https://www.linkedin.com/in/canaytore/"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/canaytore"><i class="fab fa-github"></i></a>
                        <a href="https://scholar.google.com/citations?user=mbMndyUAAAAJ=en"><i class="fa fa-graduation-cap"></i></a>
                        <a href="https://orcid.org/0000-0002-0092-898X"><i class="fab fa-orcid"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                  <p class="footer-bottom-text">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} &middot; made with &#10084;</p>
                </div>
            </div>
        </div>
    </div>
</footer> 